*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    background-color: var(--color-principal);
}
:root{
    --color-principal: #1f2024;
    --color-secundaria: #34B4E0;
    --color-luz: #2a2b2e;
    --color-sombra: #101011;
    --color-luz-s: #66c8e9;
    --color-sombra-s: #011920;
    --color-text:  #F2F2F2;
    /*
    --c1: #F2F2F2;
    --c2: #FDE8E3;
    --c3: #EDE8E6;
    --c4: #F0EFEA;
    */
}
body{
    display: flex;
    flex-wrap: wrap;
}

.container
{
    display: flex;
    width: 100%;
    padding: 20px;
    margin: 10px;
    flex-wrap: wrap;
}

/*--- ASIDE BOX PERFIL ---*/

.box-perfil{
    position: fixed;
    width: 25%;
    height: 100vh;
    display: flex;
}
.box-perfil .container{
    display: flex;
    justify-content: center ;
    flex-wrap: wrap;
    align-content: start;
    border-radius: 10px;
    background: var(--color-principal);
    box-shadow:  4px 4px 6px var(--color-sombra),
                -4px -4px 6px var(--color-luz);
}
.perfil{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 160px;
    overflow: hidden;
    border: 10px solid var(--color-principal);
    border-radius: 50%;
    box-shadow: 2px 2px 4px var(--color-sombra),
                -2px -2px 4px var(--color-luz),
                inset 2px 2px 4px var(--color-sombra),
                inset -2px -2px 4px var(--color-luz);
}
.perfil img{
    width: 90%;
    height: 90%;
    border-radius: 50%;
    box-shadow:  4px 4px 6px var(--color-sombra),
                -4px -4px 6px var(--color-luz);
}
.informacaoPessoal{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    padding-top: 20px;
}
.informacaoPessoal h1{
    color: var(--color-text);
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    width: 100%;
    padding: 10px 0;
    letter-spacing: 2px;
}
.informacaoPessoal h2{
    color: var(--color-text);
    font-size: 12px;
    font-weight: 200;
    text-align: justify;
    width: 100%;
    padding: 10px 0;
    text-indent: 40px;
}
.informacaoPessoal h3{
    color: var(--color-text);
    font-size: 14px;
    font-weight: 200;
    text-align:start;
    width: 60%;
    padding: 10px 0;
}
.informacaoPessoal label{
    color: var(--color-text);
    font-size: 12px;
    font-weight: 400;
    text-align: end;
    width: 40%;
    padding: 10px 0;
    padding-right: 10px;
}
.dadosLeitura{
    display: flex;
    flex-wrap: wrap;
    width: 100%
}
.dadosLeitura .boxDados{
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    margin: 10px 0;
    padding: 8px;
    border-radius: 10px;
    background: var(--color-principal);
    box-shadow:  2px 2px 4px var(--color-sombra),
                -2px -2px 4px var(--color-luz);
}
.dadosLeitura .boxDados h2{
    color: var(--color-text);
    font-size: 14px;
    font-weight: 400;
    width: 100%;
    background-color: transparent;
    padding-left: 10px;
}
.dadosLeitura .boxDados h3{
    color: var(--color-secundaria);
    text-align: center;
    align-content: center;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    width: 100px;
    height: 38px;
    border-radius: 14px;
    background-color: var(--color-principal);
    box-shadow: inset 2px 2px 2px var(--color-sombra),
                inset -2px -2px 2px var(--color-luz);
}
.dadosLeitura .boxDados img{
    height: 38px;
    width: 38px;
}
.direitos{
    position: relative;
    top: 320px;

}
.direitos h2{
    color: var(--color-text);
    font-size: 14px;
    font-weight: 100;
    text-align:start;
    letter-spacing: 3px;
    width: 100%;
    padding: 10px 0;
}
/*---MAIN ---*/

main{
    width: 75%;
    height: 100%;
    margin-left: 25%;
    display: flex;
    justify-content: center;
}
.nomeUsuario{
    width: 100%;
}
.mainClass{
    margin: 10px;
    width: 100%;
}
.livrosAndamentos{
    min-height: 200px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 10px;
    background: var(--color-principal);
    box-shadow:  4px 4px 6px var(--color-sombra),
                -4px -4px 6px var(--color-luz);
}
.tituloBox{
    display: flex;
    padding: 4px 10px;
    align-items: center;
    width: 100%;
    height: 40px;
    border-radius: 4px;
    background: var(--color-principal);
    box-shadow: inset 2px 2px 1px var(--color-sombra),
                inset -2px -2px 1px var(--color-luz);
}
.tituloBox h2{
    background-color: transparent;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
    color: var(--color-text);
}
.boxListLivros{
    width: 100%;
    min-height: 100px;
}
.listLivros{
    display: flex;
    width: 100%;
    min-height: 40px;
    align-items: center;
    padding: 10px 0;
    flex-wrap: wrap;
    border-bottom: 2px solid var(--color-luz);
}
.livroLine{
    display: flex;
    align-items: center;
    margin: 2px 10px;
    width: 100%;

}
.divImg{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
}
.divImg img{
    width: 100%;
    height: 100%;
}
.livroLine h2{
    color: var(--color-text);
    font-size: 12px;
    font-weight: 300;
    text-align: center;
}
.dados{
    display: flex;
    align-items: center;
    width: calc(90% - 30px);
    justify-content: space-between;
}
.dados h2{
    min-width: 100px;
}
.dados .lLNotaDoLivro{
    min-width: 30px;
}
.dados .lLnomeDoLivro{
    width: calc(30% - 30px);
    font-size: 14px;
    font-weight: 500;
    text-align: start;
    margin-left: 10px;
}
.ferramentas{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 10%;
}
.livroLine .lLNotaDoLivro{
    width: 5%;
    font-size: 18px;
    font-weight: 500;
    color: var(--color-secundaria);
}
.editarLivro,
.DetalhesLivro{
    width: 30px;
    height: 30px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: var(--color-principal);
    box-shadow:  2px 2px 4px var(--color-sombra),
                -2px -2px 4px var(--color-luz);
}
/*
.divImg{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: 1px solid red;
}
.divImg img{
    width: 30px;
    height: 30px;
}
.livroLine h2{
    color: var(--color-text);
    font-size: 12px;
    font-weight: 300;
    text-align: center;
}
.livroLine .lLnomeDoLivro{
    width: calc(30% - 30px);
    text-align: start;
    font-size: 14px;
    font-weight: 500;
    padding-left: 10px;
}
.lLgeneroDoLivro,
.lLautorDoLivro,
.lLISBN,
.lLNotaDoLivro{
    width: 14%;
}
.lLpaginas{
    width: 10%;
}
.livroLine .lLNotaDoLivro{
    width: calc(16% - 128px);
    text-align: end;
    font-size: 18px;
    font-weight: 500;
    margin-right: 14px;
    color: var(--color-secundaria);
}
.editarLivro,
.DetalhesLivro{
    width: 40px;
    height: 40px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-principal);
    box-shadow:  2px 2px 4px var(--color-sombra),
                -2px -2px 4px var(--color-luz);
}
.editarLivro img{
    height: 30px;
}
.dadosDoLivro{
    display: none;
    width: 100%;
    min-height: 60px;
    padding-top: 14px;
}
.dadosDoLivro h2{
    text-indent: 40px;
    text-align: justify;
}
*/
.dadosDoLivro{
    display: none;
    width: 100%;
    min-height: 60px;
    padding-top: 14px;
}
.dadosDoLivro h2{
    text-indent: 40px;
    text-align: justify;
}
/*--- Botão Tema Escuro ---*/

.switch {
    position: fixed;
    z-index: 100;
    display: inline-block;
    top: 20px;
    left: 20px;
    width: 48px;
    height: 27px;
  }
  
  .switch .checkbox {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    box-shadow: 1px 1px 5px 0 var(--color-secundaria) inset;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 0px;
    bottom: 4px;
    background-color: var(--color-secundaria);
    -webkit-transition: 0.4s;
    transition: 0.4s;
    box-shadow: inset 1px 1px 2px 0px var(--color-luz-s);
  }
  
  .checkbox:checked + .slider {
    box-shadow: 1px 1px 5px 0 var(--color-principal) inset;
  }
  
  .checkbox:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    background-color: var(--color-principal);
    box-shadow: inset -1px 1px 2px 0px var(--color-luz);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }